<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Home</title>
	</head>
	<body>
		<h1>The Home Page <%= 4 + 5 + 1 %></h1>
		<p>
			Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio
			officiis voluptatem, aut soluta, cumque tempore veritatis at fuga,
			alias iure sed nobis unde autem ad vero amet distinctio similique
			quaerat.
		</p>
	</body>
</html>
